.w3-dark-teal {
    background-color: #025f56 !important;
    color: #fff !important;
}

.w3-dark-red {
    background-color: #861818!important;
    color: #fff !important;
}

.w3-tamanho-esquerda {
    width: 40% !important;
}
.w3-tamanho-direita {
    width: 70% !important;
}